<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="pesquisa-mes">
    <h3 style="margin-bottom: 30px; margin-top: 25px">Movimentações</h3>
    <form>
      <div class="input-group">
        <input type="text" [(ngModel)]="data" class="form-control" placeholder="Pesquise por um mês" name="data" type="date" aria-describedby="btnGroupAddon">

        <div class="input-group-prepend">
          <div id="btnGroupAddon"><button (click)="buscarPorMes()"  class="btn btn-outline-dark">Pesquisar</button></div>
        </div>
      </div>
    </form>
  </div>

  <ion-grid>
    <ion-row class="totais">
      <ion-col>
        <div>
          <span class="text-secondary">
            <h3>Total:</h3>
          </span>
          <span class="text-secondary">
            <h5>Entradas:</h5>
          </span>
          <span class="text-secondary">
            <h5>Saídas:</h5>
          </span>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <span class="text-secondary">
            <h3>{{caixaInfo.total}}</h3>
          </span>
          <span class="text-success">
            <h5>{{caixaInfo.totalEntradas}}</h5>
          </span>
          <span class="text-danger">
            <h5>{{caixaInfo.totalSaidas}}</h5>
          </span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--movimentações-->
  <div class="container">

    <div *ngFor="let m of movimentacoes" >
      <div *ngIf="m.tipo == 'ENTRADA'"  class="card border-success card-style">
        <div class="card-body">
          <h5 class="card-title text-success"><small>Entrada:</small> R$ {{m.valor}}</h5>
          <p class="card-text">Data: {{m.data}}</p>
          <p class="card-text">Descrição: {{m.descricao}}</p>
        </div>
      </div>

      <div *ngIf="m.tipo == 'SAIDA'" class="card border-danger card-style">
        <div class="card-body">
          <h5 class="card-title text-danger"><small>Saída:</small> R$ {{m.valor}}</h5>
          <p class="card-text">Data: {{m.data}}</p>
          <p class="card-text">Descrição: {{m.descricao}}</p>
        </div>
      </div>
      <br>
    </div>
  </div>

</ion-content>