<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="pesquisa-mes">
    <h3 style="margin-bottom: 30px; margin-top: 25px">Movimentações</h3>
    <form>
      <label>Digite um mês (mm/yy):</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Digite um mês (MM/AA)" aria-describedby="btnGroupAddon">

        <div class="input-group-prepend">
          <div id="btnGroupAddon"><button class="btn btn-outline-dark">Pesquisar</button></div>
        </div>
      </div>
    </form>
  </div>

  <ion-grid>
    <ion-row class="totais">
      <ion-col>
        <div>
          <span class="text-secondary">
            <h3>Total:</h3>
          </span>
          <span class="text-secondary">
            <h5>Entradas:</h5>
          </span>
          <span class="text-secondary">
            <h5>Saídas:</h5>
          </span>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <span class="text-secondary">
            <h3>R$ 500,00</h3>
          </span>
          <span class="text-success">
            <h5>R$ 500,00</h5>
          </span>
          <span class="text-danger">
            <h5>R$ 500,00</h5>
          </span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--movimentações-->
  <div class="container">

    <div class="card border-success card-style">
      <div class="card-body">
        <h5 class="card-title text-success"><small>Entrada:</small> R$ 500,00</h5>
        <p class="card-text">Data: 12/09/2019</p>
        <p class="card-text">Descrição: Bico</p>
      </div>
    </div>

    <div class="card border-danger card-style">
      <div class="card-body">
        <h5 class="card-title text-danger"><small>Saída:</small> R$ 500,00</h5>
        <p class="card-text">Data: 12/09/2019</p>
        <p class="card-text">Descrição: Lanche</p>
      </div>
    </div>
    <br>
  </div>

</ion-content>