.pesquisa-mes {
    padding-left: 50px;
    padding-right: 50px;
}

.totais { 
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-style{
    margin-bottom: 12px;
}