<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container container-cadastro-movimentação">
    <div style="text-align: center;">
      <h3>Registrar Movimentação</h3>
    </div>
    <form>
      <div class="form-group">
        <label>
          <h6>Valor</h6>
        </label>
        <input class="form-control" type="number">
      </div>
      <div class="form-group">
        <label>
          <h6>Tipo</h6>
        </label>
        <select class="form-control browser-default custom-select">
          <option selected disabled>Selecione um tipo</option>
          <option>Entrada</option>
          <option>Saída</option>
        </select>
      </div>
      <div class="form-group">
        <label>
          <h6>Data</h6>
        </label>
        <input class="form-control" type="date">
      </div>
      <div class="form-group">
        <label>
          <h6>Descrição</h6>
        </label>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <button (click)="cadastrar()" class="btn btn-outline-success btn-md btn-block">Cadastrar</button>
      </div>
      <button class="btn btn-outline-warning" [routerLink]="['/home']">Cancelar</button>
    </form>
  </div>
</ion-content>